<div class="main">
<div class="card">
    <div class="card-header">
      MicroExercise
    </div>
    <div class="card-body">
      <h5 class="card-title">Factoria F5</h5>
      
      <p class="card-text">Angular Components Comunication</p>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="name...">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com...">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="******">
      </div>
      <a [routerLink]="'results'" class="btn btn-primary" (click)="registerData()">Send</a>
    </div>
    <a routerLink="results">Ver resultados</a>
  </div>
</div>